header.header
  a.header__search(href = "#")#search
  .header__logo: include ../../images/meizu.svg
  h2.header__product Смартфоны шестого поколения
  p.header__description Доступный премиальный дизайн и современные технологии, которые может позволить себе даже школьник
    sup 1
