-
  const devices = {
    'm6': {
      name: 'M6',
      colors: [
        { color: 'black', image: '/img/m6-black.png', price: '8800 ₽', title: 'Черный' },
        { color: 'blue', image: '/img/m6-note-blue.png', price: '8800 ₽', title: 'Синий' },
        { color: 'gold', image: '/img/m6s-gold.png', price: '13990 ₽', title: 'Золотой' },
      ],
    },
    'm6s': {
      name: 'M6s',
      colors: [
        { color: 'gold', image: '/img/m6s-gold.png', price: '13990 ₽', title: 'Золотой' },
        { color: 'blue', image: '/img/m6-note-blue.png', price: '8800 ₽', title: 'Синий' },
        { color: 'black', image: '/img/m6-black.png', price: '8800 ₽', title: 'Черный' },
      ],
    },
    'm6note': {
      name: 'M6 Note',
      colors: [
        { color: 'blue', image: '/img/m6-note-blue.png', price: '13990 ₽', title: 'Синий' },
        { color: 'black', image: '/img/m6-black.png', price: '8800 ₽', title: 'Черный' },
        { color: 'gold', image: '/img/m6s-gold.png', price: '13990 ₽', title: 'Золотой' },
      ],
    },
  }
