<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title MEIZU
    link(rel="stylesheet", href="css/style.css")
  body
    .modal-search
    .wrapper-bg
      header.header
        button.header__search
        img.header__logo
        h2.header__product Смартфоны шестого поколения
        p.header__description Доступный премиальный дизайн и современные технологии, которые может позволить себе даже школьник
          sup 1
      section.devices
        .devices__device
          .devices__img
          .devices__color
          .devices__colors
          p.devices__device-name M6
          h4.devices__price 8 900 Р
        p.devices__troling Но это не точно
          sup 1
      footer.footer
        p.contacts © 2018 MEIZU Technology Co., Ltd. Все права защищены. Телефоны: 8-495-287-60-29, 8-499-674-70-08
