extends layouts/main.pug

block variables
  - const title = 'Meizu'

block content
  include devices.pug
  include mixins/device.pug
  include blocks/modal.pug
  .wrapper-bg
    include blocks/header.pug
    section.devices
      each device in devices
        +device(device)
    include blocks/footer.pug
