@font-face
  font-family: 'Roboto'
  src: url('../fonts/Roboto/Roboto-Regular.ttf')
  font-style: normal
  font-weight: normal

@font-face
  font-family: 'FontAwesome'
  src: url('../fonts/Fontawesome/fontawesome-webfont.ttf')
  font-style: normal
  font-weight: normal
