@import 'fonts.styl'
$text-col = #555555
fs = 16px
*
  margin 0
  padding 0
  box-sizing border-box
  outline 0
  font-size 0
body
  font-family "Roboto"

.header
  padding 20px
  display flex
  justify-content center
  align-items center
  flex-direction: column
  &__search
    align-self: flex-end
    &:before
      content "\f002"
      font-family "FontAwesome"
      cursor pointer
      font-size 16px
  &__logo
    margin-top 25px
    width 200px
    height 38px
  &__product, &__description
    margin-top 25px
    font 26px small
    color $text-col
  &__description
      margin-top 20px
      font-size fs
