@import 'fonts.styl'
$text-col = #555555
$sup-col = #0bbbef
$price-col = #ff4e00
$text-col2 = #82828c
fs = 16px

*
  margin 0
  padding 0
  box-sizing border-box
  outline 0
  font-size 0
body
  font-family "Roboto"
sup
  color $sup-col
  font-size 10px
.wrapper-bg
  padding 20px
  display flex
  justify-content space-between
  flex-direction: column
  width 100vw
  height 100vh
.header, .devices
  @extends .wrapper-bg
  padding 0
  align-items center
  width auto
  height auto
  &__search
    align-self: flex-end
    &:before
      content "\f002"
      font-family "FontAwesome"
      cursor pointer
      font-size 16px
  &__logo
    margin-top 25px
    width 200px
    height 38px
  &__product, &__description
    margin-top 25px
    font-size 26px
    font-weight 300
    color $text-col
  &__description
      margin-top 20px
      font-size fs
.devices
  margin-top 40px
  flex-direction row
  flex-wrap wrap
  justify-content center
  &__device
    padding 35px
  &__img
    width 200px
    height 230px
    display block
    text-decoration none
    will-change transform
    transition transform .5s
    &:hover
      transform translateY(-20px)
    background-color rgba(0,0,0,.3)
  &__color, &__device-name
    font-size 11px
    color #bebebe
    text-align center
    margin-top 12px
  &__colors
    margin-top 15px
  &__device-name, &__price
    margin-top 30px
    font-size 36px
    font-weight 300
    color $text-col2
  &__price
    margin-top 14px
    text-transform uppercase
    color $price-col
    text-align center

.troling, .contacts
  @extends .devices__color

@media only screen and (max-width: 940px)
  .wrapper-bg
    width auto
    height auto

